{
    "extends": [
        "airbnb-base",
        "react-app",
        "plugin:import/errors",
        "plugin:import/warnings"
    ],
    "rules": {
        "arrow-spacing": ["error", { "before": true, "after": true }],
        "indent": ["error", 2],
        "semi": ["error", "always"],
        "arrow-parens": ["error", "as-needed"],
        "quotes": ["error", "single", { "allowTemplateLiterals": true }],
        "template-curly-spacing": ["error", "never"],
        "max-len": ["error", {
            "code": 80,
            "ignoreStrings": true
        }],
        "jsx-a11y/anchor-is-valid": [ "error", {
            "components": [ "Link" ],
            "specialLink": [ "hrefLeft", "hrefRight" ],
            "aspects": ["preferButton" ]
          }],
        "react/react-in-jsx-scope": "off",
        "import/first": "warn",
        "class-methods-use-this": 0
    }    
}
